* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1180px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.head {
  width: 100%;
  background-image: url(../img/home-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 106vh;
  position: relative;
}

.head-wrapper {
  min-height: 100vh;
  width: 100%;
}

.head__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 56%;
  top: 30%;
}

.head__title {
  color: #4c77eb;
  font-weight: normal;
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 44px;
}

.head__title:first-child {
  margin-left: 0;
}

.head__title:last-child {
  margin-left: 20px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__list {
  margin: 0 15px;
  font-weight: bold;
}

.navbar__list:first-child {
  margin-left: 0;
}

.navbar__list:last-child {
  margin-right: 0;
}

.navbar__link {
  font-size: 16px;
  color: #99aade;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar__link:hover {
  font-weight: bold;
  color: #7492ec;
}

.navbar__button {
  margin-left: 30px;
  padding: 16px 26px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #7492ec;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.about {
  background-image: url(../img/image-left.png);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 75px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__left {
  max-width: 50%;
}

.about__right {
  max-width: 50%;
  padding-left: 100px;
}

.about__title {
  font-size: 34px;
  color: #7492ec;
  margin-top: 100px;
  margin-bottom: 20px;
}

.about__text {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 50px;
}

.about__video {
  max-width: 570px;
  min-height: 350px;
  position: relative;
}

.about__video img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__video:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.2;
}

.about__button {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7492ec;
}

.about__button:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.about__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.about__item-title {
  font-size: 18px;
  line-height: 48px;
}

.about__icon {
  width: 66px;
  height: 66px;
}

.slider {
  background-image: url(../img/work-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding-bottom: 75px;
}

.slider__wrapper {
  text-align: center;
  position: relative;
}

.slider__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.slider__title {
  color: #7492ec;
  font-size: 48px;
  line-height: 24px;
  margin-bottom: 75px;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__content-buttons {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__content-button--prev {
  font-size: 24px;
  color: #bbbbbb;
  left: -40px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider__content-button--prev:hover {
  color: #7492ec;
}

.slider__content-button--next {
  font-size: 24px;
  color: #bbbbbb;
  right: -40px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider__content-button--next:hover {
  color: #7492ec;
}

.slider__container {
  position: relative;
  overflow: hidden;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  width: 25%;
  padding: 5px;
  position: relative;
}

.slider__image {
  width: 100%;
  max-height: 200px;
  margin-bottom: 30px;
}

.slider__image img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider__subtitle {
  color: #7492ec;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

.slider__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.slider__icon {
  margin-right: 12px;
}

.slider__span {
  color: #999999;
  font-size: 13px;
  line-height: 24px;
}

.slider__text {
  color: #666666;
  font-size: 14px;
  line-height: 24px;
}

.work {
  padding: 75px 0;
}

.work__content {
  text-align: center;
}

.work__title {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 26px;
}

.work__subtitle {
  font-size: 14px;
  line-height: 24px;
  color: #666666;
  margin-bottom: 50px;
}

.work__button {
  padding: 16px 26px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #7492ec;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 70px;
}

.work__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__image {
  max-width: 370px;
  max-height: 270px;
  margin-bottom: 20px;
}

.work__image img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work__image-long {
  max-width: 775px;
}

.experience {
  padding: 75px 0 50px 0;
  background-image: url(../img/newsletter-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.experience:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  background-color: #99aade;
  opacity: 0.9;
  z-index: -1;
}

.experience__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 50%;
  text-align: center;
}

.experience__title {
  color: #fff;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 20px;
}

.experience__text {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 40px;
}

.experience__span {
  color: #fff;
  font-size: 14px;
  line-height: 36px;
  margin-bottom: 20px;
}

.experience__button {
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
}

.instructors {
  padding: 100px 0 40px 0;
}

.instructors__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instructors__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 25%;
  margin-bottom: 40px;
}

.instructors__image {
  max-width: 102px;
  max-height: 102px;
  margin-right: 20px;
}

.instructors__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.instructors__name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.instructors__span {
  font-size: 14px;
  line-height: 24px;
  color: #999;
}

.series {
  background-color: #f8f7fc;
  position: relative;
  min-height: 680px;
}

.series__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.series__left {
  width: 50%;
}

.series__title {
  font-size: 48px;
  line-height: 28px;
  color: #7492ec;
  margin-bottom: 27px;
  margin-top: 40%;
}

.series__text {
  font-size: 21px;
  line-height: 36px;
  margin-bottom: 30px;
  width: 80%;
  color: #99aade;
}

.series__button {
  padding: 16px 26px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #7492ec;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.series__right {
  position: absolute;
  right: 20%;
  bottom: -4px;
}

.series__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.partners {
  padding: 80px 0;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer {
  background-color: #181818;
}

.footer-top {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top__title {
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
}

.footer-top__text {
  color: #bbbbbb;
  font-size: 13px;
  line-height: 24px;
}

.footer-top__input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
  outline: none;
  padding-left: 30px;
  background-color: #333333;
  color: #bbb;
}

.footer-top__input--group {
  width: 350px;
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.footer-top__button {
  padding: 16px 26px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #7492ec;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 0;
}

.footer-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-center__item {
  width: 25%;
  color: #bbbbbb;
  font-size: 13px;
  line-height: 24px;
  margin-right: 20px;
}

.footer-center__item:last-child {
  margin-right: 0;
}

.footer-center__list {
  margin-bottom: 20px;
  width: 80%;
}

.footer-center__list a {
  color: #bbbbbb;
  font-size: 13px;
  line-height: 24px;
}

.footer-center__list:last-child {
  margin-bottom: 0;
}

.footer-center__list img {
  margin-right: 10px;
}

.footer-center__list--first {
  color: #fff;
  font-weight: bold;
}

.footer-center__spans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 10px 0;
}

.footer-bottom__copyright {
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 24px;
}

.footer-bottom__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}

.footer-bottom__list {
  margin: 0 10px;
}

.footer-bottom__list:first-child {
  margin-left: 0;
}

.footer-bottom__list:last-child {
  margin-right: 0;
}

.footer-bottom__link {
  font-size: 12px;
  line-height: 24px;
  color: #bbbbbb;
}

.footer-bottom__link:hover {
  color: #fff;
}
/*# sourceMappingURL=style.css.map */